@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    font-size: calc(9px + 14 * ((100vw - 320px) / 880));
}
body {
    position: relative;
}