@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(10px + 14 * ((100vw - 320px) / 880));
}

body {
    position: relative;
}

/* ------------ NAV --------------- */

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 1.67%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    right: 0;
}

.nav {
    z-index: 5;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.navItem {
    padding: 15px 0px;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
}

.navItem:hover {
    cursor: pointer;
}

.navItem.active {
    color: #16a085;
}

.navItem div {
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear;
    font-size: 0.75rem;
}

.navItem div span {
    display: inline-block;
    height: 2px;
    background: #16a085;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    transform: translate(-200%, 0);
    transition: all 0.4s linear;
}
.navItem div span:last-child {
    left: 50%;
    right: 0%;
    transform: translate(200%, 0);
}

.active div span,
.active div span:last-child {
    transform: translate(0%, 0%);
}

/* ------------ HEADER --------------- */

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    text-shadow: -1px -1px 3px black;
}

header .text span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    padding: 20px 0px;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.home > header {
    background-image: url("./../img/home_header.jpg");
}

.about > header {
    background-image: url("../img/about_header.jpg");
}

/* ------------ CONTENT --------------- */

content > div {
    display: none;
}

content .active {
    display: block;
}

.active content {
    display: inline-block;
    width: 100%;
    height: 1000px;
}

/* ------------ FOOTER --------------- */
footer {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
}
.social {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0px;
}

.social div {
    display: inline-block;
    font-size: 1.7rem;
}

.social div a {
    color: #4a4a4a;
    display: inline-block;
}
.social div:hover a {
    color: #1abc9c;
}
